 <form id = "login-form" class = "col-4 mt-5">
        <h1 class = "login mb-3">Login:</h1>
        <div class="mb-3">
          <label class="form-label">username:</label>
          <input class="form-control" id="login-username">
        </div>
        <div class="mb-3">
          <label class="form-label">password:</label>
          <input type="password" class="form-control" id = "login-pw">
        </div>
        <button type="submit" class="btn login-in-btn">login</button>
      </form>

      <form id = "signup-form" class = "col-4 mt-5">
        <h1 class = "login mb-3">Don't have an account? Signup!</h1>
        <div class="mb-3">
          <label class="form-label">username:</label>
          <input class="form-control" id="signup-username">
        </div>
        <div class="mb-3">
          <label class="form-label">password:</label>
          <input type="password" class="form-control" id = "signup-pw">
        </div>
        <button type="submit" class="btn signup-btn">signup</button>
      </form>

<script src="/javascript/login.js"></script>