<ol>
    {{>post-info post}}
</ol>

{{#if loggedIn}}
<ol>
    <div class="container">
        <form class="col-12" id = "comment-form">
            <div class="form-floating">
                <textarea class="form-control comment-area" placeholder="Comments" id="textarea"></textarea>
            </div>
            <div>
                <button type="submit" class="btn comment-btn mt-2">add comment</button>
            </div>
        </form>
    </div>
</ol>
{{/if}}

<ol>
    {{> comments post.comments}}
</ol>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}