body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

/* header */
.title-heading a {
  text-decoration: none;
  font-size: 30px;
}

/* post styles */
.post-title {
  font-size: 25px;
}

/*sign-in, sign-out form styles */ 
.login-in-btn {
  background-color: rgba(128, 128, 128, 0.213);
}

.signup-btn {
  background-color: rgba(128, 128, 128, 0.213);
}

.login {
  font-size: 20px;
  margin: auto;
}
