body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

/* header */
.title-heading a {
  text-decoration: none;
  font-size: 30px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  height: 100%;
  font-size: 30px;
}

/* post styles */
.post-title {
  font-size: 25px;
}

.comment-btn {
  background-color: rgba(108, 160, 255, 0.213);
}

.comment-area {
  width: 40%;
}

.comments {
  font-size: 15px;
}

.post-create-btn {
  background-color: rgba(52, 95, 140, 0.46);
}

.create-comment {
  min-height: 100px;
}

.link-style {
  text-decoration: none !important;
  font-size: 20px;
}

/*sign-in, sign-out form styles */ 
.login-in-btn {
  background-color: rgba(128, 128, 128, 0.213);
}

.signup-btn {
  background-color: rgba(128, 128, 128, 0.213);
}

.login {
  font-size: 20px;
  margin: auto;
}
